.heading {
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size:15px;
    color:black;
}

body{
    background-size:cover;
}

#songname{
    font-size: 25px;
    color: whitesmoke;
}